.text-animate {
  animation: text-animate 0.5s ease forwards;
  opacity: 0;
}

.text-animate-hover {
  opacity: 1;
}

@keyframes text-animate {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

.skills-title {
  font-size: 5rem;
  margin-bottom: 30px;
  color: #cb2d6f;
  font-weight: bold;
  text-transform: uppercase;
}

.skills-text {
  font-size: 1.6rem;
  color: white;
}

.skill-page {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap;
  padding: 40px;
}

.text-zone2 {
  text-align: center;
  flex-basis: 100%; 
  margin-bottom: 20px;
}

.skills-images {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center; 
  align-items: flex-start;
  max-width: 70%;
  margin: 0 auto; 
}

.skill-img {
  width: 100px;
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 2s ease;
}

.skill-img:hover {
  transform: scale(1.5);
}
